---
apiVersion: kubeadm.k8s.io/v1beta4
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: {{ controller_ip }}:6443
    token: {{ bootstrap_token }}
    caCertHashes:
      - {{ ca_cert_hash }}
nodeRegistration:
  criSocket: unix:///var/run/crio/crio.sock
  kubeletExtraArgs:
  - name: "cloud-provider"
    value: "external"
  - name: "node-ip"
    value: "{{ ansible_default_ipv4.address }}"